@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="bg-light border rounded shadow shadow-sm p-3">

<h1>Edit Employee @Model.Name </h1>

<form asp-action="Edit" >

        <partial name="PartialViews/CreateEditPartialView" />

    <input type="submit" value="Save" class="btn btn-primary " /> |
    <a asp-action="Index" class="btn btn-light ">Back To List </a>
</form>

</div>


@section ValidationScriptSection {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}